# Created by .ignore support plugin (hsz.mobi)
target/
lib_managed/
src_managed/
project/boot/
.history
.cache
*.apk
*.ap_
*.dex
*.class
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
*/.idea
idea
*.jks
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.class
*.log
.cache
.history
.lib/
dist/*
target/
core/shared/target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
/.idea/scala_compiler.xml
/.idea/sbt.xml
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/encodings.xml
/.idea/copyright/profiles_settings.xml
