<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] - %n%msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="freasymonad" level="debug">
        <appender-ref ref="STDOUT" />
    </logger>

</configuration>